.content{
    display: flex;
    gap: 2rem;
}
.log{
    flex-direction: column;
    display: flex;
    gap: 0.8rem;
}
.bloco{
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.285);
    min-width: 300px;
    flex-direction: column;
    border: #29282B solid 2px;
    color: white;
    border-radius: 0.7rem;
}
.actions{
    display: flex;
    gap: 0.7rem;
}
.actions button{
    border: none;
    cursor: pointer;
    padding: 0.8rem 2.3rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: white;
    transition: all ease-in 0.1s;
}

.actions button:nth-child(1){
    border: #9466FF solid 1px;
}

.actions button.active{
    background-color: #9466FF;
}

.actions button:nth-child(1):hover{
    background-color: #9466FF;
}
.actions button:nth-child(2):hover{
    background-color: #ffffff;
    color: #29282B;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title .question{
    color: white;
    display: flex;
    transition: all ease-in 0.1s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #29282B;
    border-radius: 100%;
}

.title .question:has(:hover) .content {
    opacity: 1;
    z-index: 1;
}


.title .question:hover{
    color: #29282B;
    background-color: white;

}

.title h2{
    color: white;
}

.title .content{
    position: absolute;
    min-width: 140px;
    top: 0;
    opacity: 0;
    padding: 0.4rem;
    margin-top: 20px;
    background-color: #29282B;
    border-radius: 0.3rem;
    border: #9466FF solid 1px;
    z-index: -5;
}

.title .content p {
    color: white;
    font-size: smaller;
}
.bloco li {
    padding: 5px;
}

.input-text {
    background-color: #29282B;
    border: none;
    padding: 0.6rem 1rem;
    color: white;
    outline: none;
    border-radius: 0.2rem;
}
.text-title p {
    color: #ffffff44;
    font-size: 0.9rem;
}