<div class="content">
  <app-log
    title="Of"
    [data]="ofResult"
    description="emits values of any type"
    type="Creation"
    (onTap)="emitOf()"
    (onClear)="ofResult = []"
  >
  </app-log>
  <app-log
    title="Timer"
    [data]="timer$"
    description="timer takes a second argument, how often to emit subsequent values
    in this case we will emit first value after 1 second and subsequent
    values every 2 seconds after"
    type="Creation"
    (onTap)="emitTimer()"
    (onClear)="timer$ = undefined"
  >
  </app-log>
  <app-log
    title="FromEvent"
    [data]="fromEvent$"
    description="turn event into observable sequence."
    type="Creation"
    (onTap)="emitFromEvent()"
    (onClear)="fromEvent$ = undefined"
    [active]="true"
  >
  </app-log>
  <app-log
    title="ThrowError"
    [data]="error$"
    description="emit error on subscription"
    type="Creation"
    (onTap)="emitThrowError()"
    (onClear)="error$ = undefined"
  >
  </app-log>
  <app-log
  title="DebounceTime"
  [data]="debounceTime$"
  description="Discard emitted values that take less than the specified time between output"
  type="Filtering"
  (onTap)="emitDebounceTime()"
  [active]="true"
  (onClear)="debounceTime$ = undefined"
>
</app-log>
  <app-log
    title="Filter"
    [data]="filterResult"
    description="Emit values that pass the provided condition."
    type="Filtering"
    (onTap)="emitFilter()"
    (onClear)="filterResult = []"
  >
  </app-log>
  <app-log
    title="Map"
    [data]="map$"
    description="Collects all source emissions and emits them as an array when the source completes."
    type="Transformation"
    (onTap)="emitMap()"
    (onClear)="map$ = undefined"
  >
  </app-log>
  <app-log
    title="Retry"
    [data]="retry$"
    description="Retry an observable sequence a specific number of times should an error occur."
    type="Error Handling"
    (onTap)="emitRetry()"
    (onClear)="retry$ = undefined"
  >
  </app-log>
  <app-log
    title="CombineLatest"
    [data]="combineLatest$"
    description="When any observable emits a value, emit the last emitted value from each."
    type="Combination"
    (onTap)="emitCombineLatest()"
    (onClear)="combineLatest$ = undefined"
  >
  </app-log>
  <app-log
    title="Merge"
    [data]="mergeResult"
    description="turn multiple observables into a single observable"
    type="Combination"
    (onTap)="emitMerge()"
    (onClear)="mergeResult = []"
  >
  </app-log>
</div>
